.myBtn {
    background-color: black;
    color: whitesmoke;
}

.myBtn:hover {
    background-color: teal;
    color: white;
}

.myColors {
    background-color: black;
}

.hidden {
    display: none;
}

.myHeading {
    background-color: rgb(21, 58, 21);
    color: white;
    font-family: 'RocknRoll One', sans-serif;
}

